@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif ;
}

a{
    text-decoration: none;
    color: #000000;
}

a:hover{
    color: rgb(235, 198, 77);
}

label{
    font-size: 13px;
    font-weight: 600;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
}

.login{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}


.login-completo .welcome{
    margin-bottom: 20px;
}

.welcome h1{
    font-weight: 600;
    font-size: 35px;
}

.welcome p{
    color: #757575;
    font-size: 15px;
    margin-left: opx;
}

.form{
    display: flex;
    flex-direction: column;
    width: 350px;
}

form .input-box{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.input-box input{
    padding: 10px 5px;
    border-radius: 10px;
    border-style: solid;
    border-color: #b4b4b4;
    border-width: 1px;
}

form .options{
    display: flex;
    justify-content: space-between;
}

form button{
    width: 100%;
    padding: 10px 0px;
    margin: 5px 0px;
    border-radius: 10px;
    border-color: #b4b4b4;
    border-style: solid;
    border-width: 1px;
    font-weight: 500;
}

form .signin{
    background-color: #000000;
    color: #ffffff;
}

form .signin-google{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    color: #000000;
}

form .signin-google img{
    height: 20px;
    margin-right: 5px;
}

.login-completo .signup{
    display: flex;
    font-size: 13px;
    align-items: center;
    justify-content: center;
}

.login-completo .signup a{
    margin-left: 5px;
    font-weight: 600;
}

.comentarios{
    width: 50%;
    background-image: url(img/bg-comentarios.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%; 
}


